@media screen and (max-width:2560px){
    .form-text  {font-size: 4rem;}
}/*desktop*/

@media screen and (max-width:1440px){
    .form-text  {font-size: 4rem;}
    
}/*desktop*/

@media screen and (max-width:1024px){
    .form-hero-text {font-size: 6rem;}
    .form-text  {font-size: 3rem;}
}/*laptop*/

@media screen and (max-width:768px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .home, .activity {
        width: 100%; 
        margin: 5px 0; 
        text-align: center;
    }
    h1 {order: 1;}
    .home {order: 2;}
    .activity {order: 3;}
    .form-hero-text {font-size: 4rem; text-align: center; padding-bottom: 0rem;}
    .form-text  {align-self: center; font-size: 3rem;}
    .form-container {
        flex-direction: column;
        padding-bottom: 3rem;
    }
    #activity-form {
        align-self: center;
        align-items: center;
        
        width: 100%;
    }
    .activity-container {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
	
}/*tablets*/

@media screen and (max-width:576px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .home, .activity {
        width: 100%; 
        margin: 5px 0; 
        text-align: center;
    }
    h1 {order: 1;}
    .home {order: 2;}
    .activity {order: 3;}
    .form-hero-text {font-size: 3rem; text-align: center; padding-bottom: 0rem;}
    .form-text  {align-self: center; font-size: 2rem;}
    .form-container {
        flex-direction: column;
        padding-bottom: 3rem;
    }
    #activity-form {
        align-self: center;
        align-items: center;
        width: 100%;
    }
    .body,html{
        overflow-x: hidden;
    };
}/*phone*/
