


@media screen and (max-width: 768px) {

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {order: 1;}
  .home {order: 2;}
  .activity {order: 3;}

  }
  .home, .activity {
    width: 100%; 
    margin: 5px 0; 
    text-align: center;
  }
  
  .header-text h2::after {
    display: none;
  }.header-text h2::before {
    display: none;
  }
  .header-text h2{
    font-size: 2.5rem;
  }
}
