:root {
  --peak-bg: rgba(255, 242, 214, 1);
  --peak-text: rgba(11, 11, 251, 1);
  --harddisk-bg: rgba(2, 77, 78, 1);
  --harddisk-text: rgba(229, 247, 138, 1);
  --tong-bg: rgba(0, 0, 255, 1);
  --tong-text: rgba(255, 255, 255, 1);
  --form-bg: rgba(254, 230, 255, 1);
  --form-text: rgba(45, 113, 41, 1);
  --body-bg: #f5f5f5;
  --primary: #030712;
  --text-muted: #71717A;
  --input-border-color: #e8e4e4;
  --input-padding: 0.5rem 0.875rem;
  --body-text: #050505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, select, textarea{
  border: 1px solid var(--input-border-color);
  outline: none;
  border-radius: 8px;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: var(--body-bg);
  transition: background-color 0.5s ease-in-out;
  overflow-y:hidden;
}



button {
  border: none;
  background-color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: relative;
  overflow: hidden;
}


nav a {
  color: var(--greetings-text-color, var(--body-text));
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  box-shadow: inset 0 0 0 0 #ffffff;
  margin: 0 15px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


nav a.home {
  float: left;
}

nav a.activity {
  float: right;
}

nav a.home:hover{
  color: var(--body-bg);
}

nav a.activity:hover{
  color: var(--body-bg);
}

nav h1 {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 30px;
  font-weight: 600;
  color: var(--greetings-text-color, var(--body-text));
}

a {
  text-decoration: none;
  font-weight: 700;
  position: relative;
  
}

a::before {
    content: '';
    background-color: var(--greetings-text-color, var(--body-text));
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }

a:hover::before {
  bottom: 0;
  height: 100%;
}

.welcome-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  background-size:cover;
  background-position: center;
  height:300px;
}

.header-text h2  {
  color: var(--greetings-text-color, var(--body-text));
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.header-text h2::before{
  content: "";
  position: absolute;
  top: 50%;
  width: 190%;
  height: 5px;
  background-color: var(--greetings-text-color, var(--body-text));
}

.header-text h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 190%;
  height: 5px;
  background-color: var(--greetings-text-color, var(--body-text));
}

.header-text h2:before {
  left: 0;
  transform: translateX(-85%);
}

.header-text h2:after {
  right: 0;
  transform: translateX(85%);
}


.centered {
  text-align: center;
  color: #ffffff;
  font-family: 'Space Mono', monospace;
  font-size: x-large;
  font-weight: 400;
  line-height: normal;
}

.w-6 {
  width: 20px;
  height: 20px;
}
.screen{
  height: 100dvh;
}
.profile-container {
  display: flex;
  height: 100dvh;
}
.profile {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%); 
  transition: all 0.5s ease-out; 
  height: 100%;
  display: inline;
  position: relative;
}
.harddisk {
  background: url('../img/Chadisk_img.png'); 
  background-repeat: no-repeat;
  background-size: contain;
  
  
}
.peak {
  background-image: url('../img/Peak_img.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
}

.tong {
  background: url('../img/Tong_img.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.harddisk:hover,.tong,.peak{
  .centered{
    opacity: 0;
    transition: opacity 0.5s; 
  }
}
.description {
  display: none;
  position: absolute;
  z-index: 3;
  color: white;
  padding: var(--input-padding);
  font-size: 1.2rem;
}

